<a href="https://colab.research.google.com/github/BrianMoringa/Week-3-IP-Submission-Brian-Onchweri-/blob/main/Moringa_Data_Science_Prep_W3_Independent_Project_2022_07_Brian_Onchweri.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing the Libraries to be used

# Doing Preliminary Data analysis

In [1]:
# Let's import the pandas library
#
# OUR CODE GOES HERE
import pandas as pd
# as well as the Numpy library
import numpy as np

# OUR CODE GOES HERE

## Loading our Datasets

In [2]:
#Loading the cells_geo description DataFrame

# We create a URL to Excel file (alternatively this can be a filepath)
url = '/content/cells_geo_description.xlsx'

# Then load the first sheet of the Excel file into a data frame
df = pd.read_excel(url, sheet_name=0, header=1)

# Lastly, view the first ten rows
df.head(10)

         VILLES                                               City  String
0        STATUS                                  In Service or not  String
1  LOCALISATION                                  in ABIDJAN or not  String
2    DECOUPZONE                                  Geographical Zone  String
3      ZONENAME                                       Name of Zone  String
4     LONGITUDE                                          Longitude   Float
5      LATITUDE                                           Latitude   Float
6        REGION                                             Region  String
7          AREA                                               Area  String
8       CELL_ID                                     ID of the cell  String
9     SITE_CODE  Site (there are several cells per site, severa...  String

In [12]:
df.describe()

        VILLES               City  String
count       10                 10      10
unique      10                 10       2
top     STATUS  In Service or not  String
freq         1                  1       8

In [18]:
(df1.describe()
df1.info

<bound method DataFrame.info of      ;VILLES;STATUS;LOCALISATION;DECOUPZONE;ZONENAME;LONGITUDE;LATITUDE;REGION;AREA;CELL_ID;SITE_CODE
0     0;ADJAME;In Service;ABIDJAN;"""Abidjan_EST";AG...
1     1;ADJAME;In Service;ABIDJAN;"""Abidjan_EST";AG...
2     2;ADJAME;In Service;ABIDJAN;"""Abidjan_EST";AG...
3     3;ASSINIE;In Service;INTERIEUR;Grand-EST;"ASSI...
4     4;ASSINIE;In Service;INTERIEUR;Grand-EST;"ASSI...
...                                                 ...
3969  3969;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...
3970  3970;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...
3971  3971;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...
3972  3972;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...
3973  3973;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...

[3974 rows x 1 columns]>

In [39]:
#checking NuLL values 
df1.isnull()

      ;VILLES;STATUS;LOCALISATION;DECOUPZONE;ZONENAME;LONGITUDE;LATITUDE;REGION;AREA;CELL_ID;SITE_CODE
0                                                 False
1                                                 False
2                                                 False
3                                                 False
4                                                 False
...                                                 ...
3969                                              False
3970                                              False
3971                                              False
3972                                              False
3973                                              False

[3974 rows x 1 columns]

In [4]:

# Loading CDR_description DataFrame
# 
# We create a URL to Excel file (alternatively this can be a filepath)
path = '/content/CDR_description.xlsx'

# Then load the first sheet of the Excel file into a data frame
df2 = pd.read_excel(path, sheet_name=0, header=1)

# Lastly, view the first ten rows
df2.head(10)

           PRODUCT                                       Voice or SMS   String
0            VALUE                                      Billing price  Integer
1        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
2     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
3  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String
4  DW_B_NUMBER_INT        Anonymized phone number of the counterparty   String
5        COUNTRY_A                  Country of party A (useless here)   String
6        COUNTRY_B                  Country of party B (useless here)   String
7          CELL_ID                                     ID of the cell   String
8          SITE_ID                                     ID of the SITE   String

In [19]:
df2.describe() 
df2.info

<bound method DataFrame.info of            PRODUCT                                       Voice or SMS   String
0            VALUE                                      Billing price  Integer
1        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
2     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
3  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String
4  DW_B_NUMBER_INT        Anonymized phone number of the counterparty   String
5        COUNTRY_A                  Country of party A (useless here)   String
6        COUNTRY_B                  Country of party B (useless here)   String
7          CELL_ID                                     ID of the cell   String
8          SITE_ID                                     ID of the SITE   String>

In [5]:

#Loading the Telecom_dataset 1 DataFrame

# We create a URL to Excel file (alternatively this can be a filepath)
path = '/content/Telcom_dataset.csv'

df3 = pd.read_csv('/content/Telcom_dataset.csv')

# Lastly, view the first ten rows
df3.head(10)

  PRODUTC  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2     sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
5    data      0  2012-05-06 23:07:26.0  ...     OTHER  /lrUXVGVcN  /lrUXVGVcN
6   Voice      0  2012-05-06 23:08:02.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
7   Voice      0  2012-05-06 23:08:03.0  ...     19e2e  09UjmmY1Ds  09UjmmY1Ds
8   Voice      0  2012-05-06 23:08:05.0  ...     19e2e  0DeimCpZOc  0DeimCpZOc
9     sms      0  2012-05-06 23:08:43.0  ...     19e2e  01MDiY5F89  01MDiY5F89

[10 rows x 10 columns]

In [8]:
df3.describe()

             VALUE
count  5001.000000
mean     25.869626
std     101.934502
min       0.000000
25%       0.000000
50%       0.000000
75%      25.000000
max    4440.000000

In [6]:

#Loading the Telecom_Dataset2 DataFrame

# We create a URL to Excel file (alternatively this can be a filepath)
path = '/content/Telcom_dataset2.csv'

df4 = pd.read_csv('/content/Telcom_dataset2.csv')

# Lastly, view the first ten rows
df4.head(10)

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0     sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1   Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2     sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3   Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4     sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO
5     sms      0  2012-05-07 23:05:41.0  ...     19e2e  /MMplBlWjh  /MMplBlWjh
6   Voice     41  2012-05-07 23:06:14.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
7   Voice     11  2012-05-07 23:06:28.0  ...     19e2e  +gySf02tKW  +gySf02tKW
8     sms      0  2012-05-07 23:06:35.0  ...     OTHER  /0FxP3az1x  /0FxP3az1x
9     sms      0  2012-05-07 23:06:50.0  ...     19e2e  0ecjmwPX21  0ecjmwPX21

[10 rows x 10 columns]

In [9]:
df4.describe()

             VALUE
count  5001.000000
mean     24.334933
std      97.471586
min       0.000000
25%       0.000000
50%       0.000000
75%      25.000000
max    3380.000000

In [7]:

#Loading the Telecom_Dataset3 DataFrame

# We create a URL to Excel file (alternatively this can be a filepath)
path = '/content/Telcom_dataset3.csv'

df5 = pd.read_csv('/content/Telcom_dataset3.csv')

# Lastly, view the first ten rows
df5.head(10)

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B      CELLID     SIET_ID
0   Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1     sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2   Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3     sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
5   Voice     10  2012-05-08 23:03:59.0  ...     19e2e  +e+xcimwre  +e+xcimwre
6     sms      0  2012-05-08 23:06:06.0  ...     19e2e  +R5ccmtyJf  +R5ccmtyJf
7   Voice     10  2012-05-08 23:06:55.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
8     sms     25  2012-05-08 23:07:09.0  ...     19e2e  13O1+JEun3  13O1+JEun3
9     sms      0  2012-05-08 23:07:38.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA

[10 rows x 10 columns]

In [10]:
df5.describe()

              VALUE
count   5001.000000
mean      26.441512
std      224.200217
min        0.000000
25%        0.000000
50%        0.000000
75%       25.000000
max    12900.000000

#Concutinating df3, df4 and df5 into one DataFrame Called CombinedDataFrame

In [ ]:
CombinedDataFrame =